---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>

{{ content }}

{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
  this.page.url = 'https://tfjgeorge.github.io{{ page.url }}';
  this.page.identifier = '{{ page.id }}';
  this.callbacks.onReady = [function() { $(window).trigger('resize'); }];
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://tfjgeorge.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endif %}
